* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #181818;
    min-height: 100vh;
    display: grid;
    overflow-x: hidden;
    grid-template-columns:  72px 1fr;
    grid-template-rows: 112px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
}

header {
    background: #202020;
    grid-area: header;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.off {
    display: none;
}

.principalWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px 8px 0;
}

.logo {
    display: flex;
}

.logo > img {
    width: 130px;
}

.logo > figcaption {
    color: #AAAAAA;
    font-size: .6em;
    margin: 0 0 17px 5px;
}

.search {
    display: flex;
}

.search > button:nth-of-type(1) {
    width: 64px;
    cursor: pointer;
    background: #313131;
    border: 0;
    border-radius: 0 3px 3px 0;
}

.search > button:nth-of-type(1) > img {
    width: 19px;
    cursor: pointer;
}

.search > button:nth-of-type(2) {
    width: 40px;
    border-radius: 50%;
    border: 0;
    background: #181818;
    margin-left: 10px;
    cursor: pointer;
}

.search > button:nth-of-type(2) img {
    width: 22px;
}

.searchInput {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput > button:nth-of-type(1) {
    position: absolute;
    right: 10px;
    border: 0;
    cursor: pointer;
    background: transparent;
    width: 18px;
}

.searchInput > button:nth-of-type(1):hover > svg {
    fill: #F9F9F9;
}

.searchInput > button:nth-of-type(2) {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.searchInput > button:nth-of-type(2) > img {
    width: 20px;
}

.searchInput input {
    width: 572px;
    height: 40px;
    border-radius: 3px 0 0 3px;
    background: #121212;
    color: #CCCCCC;
    border: 1px solid #313131;
    outline: 0;
    font-size: 1.1em;
    padding: 0 70px 0 7px;
}

.searchInput input::-webkit-search-cancel-button {
    display: none;
}

.searchInput input:focus {
    border: 1px solid #1C62B9;
}

.othersHeader {
    display: flex;
    gap: 25px;
}

.othersHeader button {
    background: none;
    border: 0;
    cursor: pointer;
}

.othersHeader img {
    width: 22px;
}

.othersHeader > button:last-child img {
    width: 32px;
    border-radius: 50%;
}

.tags {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    flex: 1;
    padding-left: 25px;
    position: relative;
    overflow: hidden;
}

.tagBtn {
    position: absolute;
    background: rgba(33, 33, 33, 0.98);
    border: 0;
    height: 100%;
    width: 56px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevBtn {
    top: 0;
    left: 0;
}

.nextBtn {
    top: 0;
    right: 0;
}

.tagTransparency {
    position: absolute;
    width: 50px;
    height: 100%;
}

.prevTransparency {
    top: 0;
    left: 56px;
    background: linear-gradient(to right, rgba(33, 33, 33, 0.98) 20%,rgba(33,33,33,0) 80%);
}

.nextTransparency {
    top: 0;
    right: 56px;
    background: linear-gradient(to left, rgba(33, 33, 33, 0.98) 20%,rgba(33,33,33,0) 80%);
}

.nextBtn > figure,
.prevBtn > figure {
    top: 0;
    right: 56px;
    background: linear-gradient(to left, rgba(33, 33, 33, 0.98) 20%,rgba(33,33,33,0) 80%);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.animatedBorder {
    animation-name: animatedBorder;
    animation-duration: 1s;
}

.nextBtn:active > figure {
    background: rgba(255, 255, 255, 0.1);
}

.nextBtn > figure > img,
.prevBtn > figure > img {
    width: 22px;
}

.tagList {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    list-style: none;
    transform: translateX(0);
    transition: .3s;
}

.tagList li:first-child {
    background: white;
    color: #030303;
}

.tagList li {
    color: #FBFBFB;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6px 10px;
    flex-shrink: 0;
    font-size: .9em;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.tagList li:not(:first-child):hover {
    background: #4d4d4d;
}

main {
    grid-area: main;
}

aside {
    background: #212121;
    grid-area: aside;
}

aside label {
    display: block;
    text-align: center;
    font-size: .6em;
    cursor: pointer;
}

aside li {
    color: white;
    width: 72px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

aside li:not(:first-child) {
    cursor: pointer;
}

aside li:not(:first-child):hover {
    background: #303030;
}

aside img {
    width: 20px;
}

#menu img {
    cursor: pointer;
}

#menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu:active {
    background: rgba(255, 255, 255, 0.1);
}

@keyframes animatedBorder {
    from {
        border: 1px solid rgba(255, 255, 255, 0.3);

    }
    to {
        border: 1px solid transparent;
    }
}