* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    width: 18px;
}

 ::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

body {
    background: #181818;
    min-height: 100vh;
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: "header header" "aside main";
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #202020;
    grid-area: header;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.off {
   display: none !important; 
}

.principalWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px 8px 0;
}

.logo {
    display: flex;
}

.logo>img {
    width: 130px;
}

.logo>figcaption {
    color: #AAAAAA;
    font-size: .6em;
    margin: 0 0 17px 5px;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 25px;
}

.search>button:nth-of-type(1) {
    width: 64px;
    cursor: pointer;
    background: #313131;
    border: 0;
    border-radius: 0 3px 3px 0;
}

.search>button:nth-of-type(1)>img {
    width: 19px;
    cursor: pointer;
}

.search>button:nth-of-type(2) {
    width: 40px;
    border-radius: 50%;
    border: 0;
    background: #181818;
    margin-left: 10px;
    cursor: pointer;
}

.search>button:nth-of-type(2) img {
    width: 22px;
}

.searchInput {
    flex: 1;
    max-width: 572px;
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput>button:nth-of-type(1) {
    position: absolute;
    right: 10px;
    border: 0;
    cursor: pointer;
    background: transparent;
    width: 18px;
}

.searchInput>button:nth-of-type(1):hover>svg {
    fill: #F9F9F9;
}

.searchInput>button:nth-of-type(2) {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.searchInput>button:nth-of-type(2)>img {
    width: 20px;
}

.searchInput .xPadding {
    padding: 0 68px 0 7px;
}

.searchInput input {
    width: 100%;
    height: 40px;
    border-radius: 3px 0 0 3px;
    background: #121212;
    color: #CCCCCC;
    border: 1px solid #313131;
    outline: 0;
    font-size: 1.1em;
    padding: 0 38px 0 7px;
}

.searchInput input::-webkit-search-cancel-button {
    display: none;
}

.searchInput input:focus {
    border: 1px solid #1C62B9;
}

.othersHeader {
    display: flex;
    gap: 25px;
}

.headerItensToggle {
    display: block;
}

.mobileItem {
    display: none;
}

.othersHeader button {
    background: none;
    border: 0;
    cursor: pointer;
}

.othersHeader img {
    width: 22px;
}

.othersHeader>button:last-child img {
    width: 32px;
    border-radius: 50%;
}

.menuWrapper {
    margin: -8px 0;
    height: 56px;
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

#menu img {
    cursor: pointer;
    width: 20px;
}

#menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu:active {
    background: rgba(255, 255, 255, 0.1);
}

.menuAndLogo {
    width: 240px;
    display: flex;
    align-items: center;
}

.firstAside,
.secondAside {
    background: #212121;
    grid-area: aside;
}

.asideWrapper {
    position: fixed;
}

.firstAsideGrid {
    grid-template-columns: 72px 1fr;
}

.firstAside label {
    display: block;
    text-align: center;
    font-size: .6em;
    cursor: pointer;
}

.firstAside li {
    color: white;
    width: 72px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.firstAside li:hover {
    background: #303030;
}

.firstAside img {
    width: 20px;
}

.filledMenu {
    background-color: #212121;
    height: 56px;
    margin: -8px 0;
}

.secondAside {
    padding-top: 5px;
}

.secondAside .asideWrapper {
    width: 240px;
    height: calc(100vh - 66px);
    overflow-y: auto;
}

.secondAside .asideWrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.secondAside .asideWrapper:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
}

.secondAside li {
    padding-left: 25px;
    color: white;
    height: 40px;
    font-size: .9em;
    display: flex;
    align-items: center;
    gap: 23px;
    cursor: pointer;
}

.secondAside li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.secondAside ul:nth-child(1) li:first-child {
    background-color: rgba(255, 255, 255, 0.1);
}

.secondAside ul:nth-child(1) li:first-child:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.secondAside label {
    cursor: pointer;
}

.secondAside img {
    width: 21px;
}

.secondAside hr {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
}

.secondAside ul:last-child p {
    font-weight: bold;
    color: #AAAAAA;
    font-size: .9em;
    padding: 8px 0 8px 25px;
}

.secondAside ul:last-child img {
    width: 24px;
    border-radius: 50%;
}

.secondAside ul:last-child div {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #3EA6FF;
    margin: 0 25px 0 auto;
}

main {
    grid-area: main;
    position: relative;
}

.tagsWrapper {
    position: sticky;
    z-index: 999;
    top: 56px;
    left: 0;
}

.tags {
    background-color: #181818;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    height: 56px;
    overflow-x: hidden;
}

.nextWrapper,
.prevWrapper {
    position: fixed;
    z-index: 1003;
    display: flex;
}

.nextWrapper {
    top: 56px;
    right: 0;
}

.prevWrapper {
    top: 56px;
}

.tagBtn {
    background: rgba(33, 33, 33, 0.98);
    border: 0;
    height: 54px;
    width: 56px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagTransparency {
    width: 50px;
    height: 54px;
    display: inline-block;
}

.prevTransparency {
    background: linear-gradient(to right, rgba(33, 33, 33, 0.98) 20%, rgba(33, 33, 33, 0) 80%);
}

.nextTransparency {
    background: linear-gradient(to left, rgba(33, 33, 33, 0.98) 20%, rgba(33, 33, 33, 0) 80%);
}

.nextBtn>figure,
.prevBtn>figure {
    background: linear-gradient(to left, rgba(33, 33, 33, 0.98) 20%, rgba(33, 33, 33, 0) 80%);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.animatedBorder {
    animation-name: animatedBorder;
    animation-duration: 1s;
}

.nextBtn:active > figure,
.prevBtn:active > figure {
    background: rgba(255, 255, 255, 0.1);
}

.nextBtn>figure>img,
.prevBtn>figure>img {
    width: 22px;
}

.tagList {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 0 25px;
    list-style: none;
    transform: translateX(0);
    transition: .3s;
    position: relative;
}

.tagList li:first-child {
    background: white;
    color: #030303;
}

.tagList li {
    color: #FBFBFB;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6px 10px;
    flex-shrink: 0;
    font-size: .9em;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.tagList li:not(:first-child):hover {
    background: #4d4d4d;
}

.videos {
    padding: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
}

.videos li {
    cursor: pointer;
    width: 253px;
}

.videoImg {
    background: rgba(255, 255, 255, 0.1) url(https://picsum.photos/253/142.jpg) left top/cover;
    height: 142px;
    padding: 4px;
    display: flex;
    justify-content: end;
}

.firstAsideVideos {
    width: 295px !important;
}

.firstAsideVideoImgs {
    height: 165px;
}

.videoImg time {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    align-self: flex-end;
    opacity: 0.9;
}

.videos li:hover time {
    opacity: 0;
    transition: .5s;
}

.otherOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.otherOptions figure {
    background: black;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.otherOptions figure:first-child {
    margin-bottom: 5px;
}

.otherOptions img {
    width: 20px;
}

.imgAuthorVideo {
    width: 36px; 
    border-radius: 50%;
}

.videoInfos h3 {
    color: white;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.3em;
}

.videoInfos p {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 1.4em;
}

.authorVideo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.authorVideo > svg {
    width: 14px;
}

.videoInfos {
    display: flex;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    margin-top: 13px;
}

.options {
    display: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: -10px;
}

.options:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.options img {
    width: 22px;
}

.videos li:hover .options {
    display: flex;
}

.videoImgOpts {
    opacity: 0;
}

.videos li:hover .videoImgOpts {
    opacity: 1;
}

@keyframes animatedBorder {
    from {
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    to {
        border: 1px solid transparent;
    }
}

@media (max-width: 715px) {
    .search {
        display: none;
    }

    .mobileItem {
        display: block;
    }
}

@media (max-width: 530px) {
    .headerItensToggle {
        display: none;
    }
}